.login {
  &__signinCard {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    width: 360px;
    margin-bottom: 16px;
  }
  &__forgot-pw-link {
    color: #01b6f5;
    text-align: center;
    font-size: 1rem;
  }
}

.loginPage {
  font-family: 'Lato', sans-serif;
  .signinCard {
    &__inputs {
      &--container {
        display: flex;
        flex-direction: column;
        & > :not(:first-child) {
          margin-top: 24px;
        }
        & > :last-child {
          margin-top: 16px;
        }
      }
    }
    &__link {
      color: #01b6f5;
      text-align: center;
      font-size: 1rem;
    }
  }
}