.SnackBar {
  width: 320px;
  min-height: 40px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s linear, opacity 0.3s linear;

  @apply fixed;
  @apply pin-b;
  @apply pin-x;
  @apply mx-auto;
  @apply flex;
  @apply justify-center;
  @apply items-center;
  @apply text-white;
  @apply bg-black;
  @apply rounded-t-lg;

  &.active {
    visibility: visible;
    opacity: 1;
  }
  
  &.hiding {
    visibility: hidden;
    opacity: 0;
  }
}